@import './../variables.scss';

/* RectangleBlock Component Styles */
.rectangle-block {
  position: absolute;
  z-index: 1;
  border: 1px solid darken($shape-background, 30%);
  background: $shape-background;

  .rectangle-block-remove {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 0.5rem;
    font-family: Arial, sans-serif;
    cursor: pointer;
  }

  //overwritten styles for print
  @media print {
    background: $page-background;
  }
}

